h1,h2,h3,h4,h5,h6,a,ul,li,ol,dl,dd,dt,p,form,input,textarea,select,body,span,img {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline-style: none;
	border: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	line-height: 0px;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.m {
	width: 1366px;
	margin: 0 auto;
}

a {
	color: black;
}